.container .nav-left {
    background-color: #ffffff;
    color: #ffffff;
    height: calc(100vh);
}
.container .main {
    height: calc(100vh);
    background-color: #f1f3f5;
    overflow: auto;
}
.container .content {
    position: realtive;
    padding: 20px;
}